/* VARIABLES */
/* BASE */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  /* font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.4; */
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #141414;
}

a {
  text-decoration: none;
  color: inherit;
}
.h4, h4{
  font-size: 1.3rem;
}
.container {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding-top: 8rem;
  padding-bottom: 4rem;

}
.container p {
    font-size: 1.2rem;
    padding: 1.2rem 0;
    line-height: 2rem;
}


.site-content {
  padding-top: 100px;
}

/* NavBar */
header {
  position: static;
  z-index: 9;
  left: 0;
  right: 0;
  min-height: 70px;
  line-height: 70px;
  color: #fff;
  background-color: #007bff;
  font-size:1.25em;
  width: 100%;
  transition: 0.35s all ease;
}
.left{
  float: Left;
}
.socials{
  float: right;
  padding-right: 20px;
  font-size: 2em;
}
.socials a{
  padding: 0 10px;
}
.socials a:hover{
  color: #c1c1c1;
}
.logo{
  height: 56px;
}

#logo{
  vertical-align: middle;
  margin-bottom: 5px;
}
/* MENU */
.menu {
  float: left;
}
.menu a {
  padding: 0 10px;
}
.menu a:hover{
  color: #c1c1c1;
}
.post{
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(191,191,191,1);
  padding: 25px 25px;
  margin-bottom: 1rem;
}
.userdetails{
  height: 80px;
  margin-bottom: 10px;
}
.accountimage {
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.accountimage img {
  margin: 0 auto;
  height: 100%;
  width: auto;
  margin-left: auto;
	margin-right: auto;
	display: block;
}
.postcontent img{
  display: block;
  width: 100%;
  height: auto;
}
.review{
  font-size: 1.3rem;
  border-top: 0.1px solid lightgrey; padding-top: 1rem;
}
.signinform{
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(191,191,191,1);
  padding: 30px 30px;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.signupform{
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(191,191,191,1);
  padding: 30px 30px;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}
/* RESPONSIVE */
@media only screen and (max-width: 898px) {

  .site-pusher,
  .site-container {
    height: 90%;
  }

  .site-container {
    /* overflow-x: hidden; */
  }

  .site-pusher {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  .site-content {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  header {
    position: static;
    MIN-height: 60px;
    line-height: 60px;
  }
  .menu {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #000000;
  }
  .logo{
    float: left;
    height: 55px;
    position: static;
    transform: none;
    padding-left: 10px;
  }
  #logo{
    vertical-align: top;
  }
  .with--sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .socials{
    font-size: 1em;
  }
  .bannerimg{
    width:auto;
  }
  .container{
    padding-top:2rem;
    width: 100%;
  }
  .container p{
    font-size: 0.9em;
    line-height: 1rem;
    padding: 0.2rem 0;
  }
  .whitespace{
    display: none;
    width: 0px;
  }
  .signinform{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .signupform{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@media only screen and (max-height: 898px) {
  .signinform{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .signupform{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
